.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: white;
/*  background-image: url(../img/bg-img7.jpg);
  background-size: cover;
  background-attachment: fixed; */
}
.jumbotron {
  margin-top: -70px;
  padding: 70px 30px;
  background: white;
  color: gray;
  background-size: cover;
  height: 420px;
  background-attachment: fixed;
}

address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
h2{
  line-height: 1.5;
}

.round-img{
  width: 70%;
  border-radius: 100pt;
  border-color: gray;
  border-width: 5px;
  border-style: hidden;
  margin-right: -15px;
}
#micr{
  width: 180px;
  -webkit-transition: width  2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;S
}

#micr:hover{
   width: 220px;
}
#coding{
  width: 200px;
  -webkit-transition: width  2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;S
}
#coding:hover{
   width: 250px;
}
#cinema{
  width: 200px;
  -webkit-transition: width  2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;S
}
#cinema:hover{
   width: 250px;
}
#book{
  width: 180px;
  -webkit-transition: width  2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;S
}
#book:hover{
   width: 230px;
}
.hidden{
  display: none;
}
.hid{
  display: none;
}
.scroll-btn{
  display: none;
}
.scroll-btn2{
  display: none;
}
.scroll-btn3{
  display: none;
}
.scroll-btn4{
  display: none;
}
.scroll-btn5{
  display: none;
}
.infoback{
  background-image: url(../img/scienceimg.jpg);
  background-size: cover !important;
  height: 420px;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.science{
  background-color: white;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.web{
  background-image: url(../img/info.jpg);
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.cinema{
  background-color: white;
  background-size: cover;
  height: 530px;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.literature{
  background-image: url(../img/literature.jpg);
  background-size: cover;
  height: 450px;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

body{
  background-color: white;
}

.description1{
  /*position: absolute;
  margin: 150px 0px 0px 700px;
  width: 700px;
  height: 200px; */
  font-size: 25px;
  color: white;
  text-align: justify;
}
.description2{
/*  position: absolute;
  margin: 150px 0px 0px 150px;
  width: 700px;
  height: 200px; */
  font-size: 25px;
  color: gray;
  text-align: justify;
}
.description3{
/*   position: absolute;
  margin: 150px 0px 0px 700px;
  width: 700px;
  height: 200px; */
  font-size: 25px;
  color: white;
  text-align: justify;
}
.description4{
  position: absolute;
  margin: 150px 0px 0px 150px;
  width: 700px;
  height: 200px;
  font-size: 25px;
  color: gray;
}
.description5{
  position: absolute;
  margin: 150px 0px 0px 700px;
  width: 700px;
  height: 200px;
  font-size: 25px;
  color: white;
}
.info{
  position: absolute;
  background-color: rgba(128,128,128,0.3);
  color: white;
  font-family: Sans-serif;
  font-size: 20px;
/*  height: 75px; */
 width: 250px;
  line-height: 60px;
  /* margin: 150px 0px 0px 100px; */
  text-align: center;
  border-style: solid;
  border-color: #BDBDBD;
  transition: all 0.3s ease 0s;
  border-width: 5px;
  padding: 10px, 10px, 10px, 10px;
}
.info:hover {
  background: #CF4647;
}
.relative{
  position: relative;
}
#hid{
  border-radius: 100pt;
  border-color: gray;
  border-width: 5px;
  border-style: hidden;
  margin-right: -15px;
  width: 150px;
}

@media (min-width: 0px) and (max-width: 800px) {
 .logo{
     display:none !important;
 }
}

@media (min-width: 0px) and (max-width: 1000px) {
 .description1{
     display:none !important;
 }
 .description2{
     display:none !important;
 }
 .description3{
     display:none !important;
 }
 .description4{
     display:none !important;
 }
 .description5{
     display:none !important;
 }
}
@media (min-width: 0px) and (max-width: 840px) {
 .small_hid{
     display:none !important;
 }
}
